{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <div class="UploadWrapper Confortaa-text">
        <p class="UploadText">Streamline your hiring process with our powerful CV analysis tool. Upload CVs to extract valuable candidate information and make informed hiring decisions.</p>
        <div>
            <img src="{% static 'website/media/upload-folder.svg' %}" alt="upload folder">
            <img src="{% static 'website/media/upload-file.svg' %}" alt="upload file">
        </div>
    </div>
{% endblock %}