<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <title>cv-iinsight</title>
</head>
<body>
    <nav class="NavContainer Confortaa-text">
        <a to="#">
          <img class="HomeLogo" src='./assets/dark-logo.png' />
        </a>
        <div>
          <a class="StyledLink" href="#">Home</a>
          <a class="StyledLink" href="#">About us</a>
          <a class="StyledLinkFull" href="#">Analyze CV</a>
        </div>
    </nav>
</body>
</html>