<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <title>cv-insight</title>
</head>
<body>
    <div class=".home">
      <div class="HomerContainer">
        <div class="LeftCol">
          <h2 class="StyledTitle Confortaa-text">
            Transform your job search with our CV analysis tool: Upload your CV to get started
          </h2>
          <a class="StyledLinkFull Confortaa-text" href="#">Get satrted</a>
        </div>
        <img class="Illustration" src='./assets/home-illustration.svg' />
      </div>
    </div>
</body>
</html>