
.HomeWrapper {
    display: flex;
    justify-content: center;
}

.HomerContainer {
  margin: 30px;
  padding: 60px 90px;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
}

.LeftCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    
}

.Confortaa-text {
    font-family: 'Comfortaa', sans-serif;
}

.StyledTitle {
    padding-bottom: 30px;
    max-width: 280px;
    line-height: 50px;
}

.Illustration {
    flex: 1;
}

.StyledLink {
    padding: 10px 15px;
    color: #8186a0;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}


.ErrorWrapper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    background-color:#F9F9FC;
    align-items: center;
}

.ErrorTitle {
    font-weight: 300;
}


.ErrorSubtitle {
    font-weight: 300;
    color:#8186A0;
}


.ErrorIllustration {
    max-width: 800px;
}


.HomeLogo {
    height: 60px;
}
  

.NavContainer {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StyledLinkFull {
    padding: 10px 15px;
    color: #8186a0;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    max-width: 200px;
    color: white; 
    border-radius: 30px;
    background-color: #5843E4;
    
}

.UploadWrapper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UploadText {
    font: bold;
    font-weight: 300;
}


/* card style */

.card {
    background-color: #F9F9FC;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 20px;
    width: 85%;
    margin: auto;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-name {
    margin: 0;
  }
  
  .user-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
.section {
    width: 48%;
    padding: 10px;
    border-left: 2px solid #5955BA;
    border-radius: 5px;
}

.section-title {
    margin-top: 0;
    color: #5843E4;
    margin-bottom: 10px;
}
  
.section-1,
.section-2 {
    margin-bottom: 20px;
}
  
.section-3,
.section-4 {
    margin-top: 20px;
}


.DonloadContainer {
    display: flex;
    align-items: center;
    position: absolute;
    padding-right: 100px;
    padding-top: 50px;
    right: 0;
}
